################################################################################
# Simplified ignore for VS/.NET
################################################################################

.vs/
bin/
obj/
